@import url("style.css");

.item-content {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.item-name {
	font-size: 36px;
	font-weight: 800;
}

.free-ship {
	margin-bottom: 10px;
}

.item-price {
	border-top: thin solid #ccc;
	padding-top: 20px;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 25px;
}

.item-description {
	width: 600px;
	margin-bottom: 20px;
}

.item-status {
	font-size: 12px;
	background-color: lightyellow;
	border-radius: 25px;
	text-align: center;
	padding: 5px 15px;
	width: max-content;
}

.main-buttons {
	display: flex;
	margin-top: 20px;
	gap: 40px;
}

.buttons {
	display: flex;
	gap: 20px;
}

.q-container {
	display: flex;
	cursor: pointer;
	justify-content: center;
	gap: 10px;
	border: thin solid #ccc;
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

.q-container:hover {
	border: thin solid #21A055;
	transition: border 0.5s ease-in-out;
}

.q-box {
	width: 35px;
	padding: 5px;
	text-align: center;
	color: black;
}

.q-box:focus {
	outline: none;
}

.q-button, .q-box {
	font-size: 20px;
	border-style: none;
	background-color: #fff;
}

.q-button {
	color: #ccc;
	cursor: pointer;
}

.atc, .bn {
	padding: 10px 30px;
	border: none;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	color: white;
	border-radius: 3px;
}

.atc {
	background-color: black;
}

.bn {
	background-color: #21A055;
}

button {
	cursor: pointer;
}
